body {
  background-color:bisque;
}

.container {
    display: grid;
    grid-template-rows: 10% 10% 40% 10% 10% 10% ;
    grid-template-columns: 1fr 3fr ;
    grid-gap: 10px;
    padding: 10px;
    
  }
  .container > div {
    border: black 1px solid;
    
  }
  
  .heading {
    grid-column:1/3;
    text-align:center;
    background-color:lightpink;
    font-family: 'Potta One', cursive;
    font-size:large;
    }

  .button {
    background-color:cornsilk;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    width:100%;
    height:100%;
  }

  .clue {
    text-align:center;
    background-color:lightsalmon;
    

  }

  .score {
    background-color:lightsalmon;
  }

  .wish {
    background-color:lightsalmon;
  }

  .reset {
    grid-column:1;
    grid-row:4;
  }
  
  .quit {
    grid-column:1;
    grid-row:5;
  }

  .interface {
    grid-row:3/6;

  }

  .container2 {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    grid-column-gap:10px;
    padding:10px;
  }

  .tile {
    height:200px;
    width: stretch;
    background-color: aliceblue;
    border:1px black solid;
  }

  .credits {
    grid-column:1/3;
    background-color:lightgreen;
    font-size:x-large;
    
  }